@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

:root {
  --dc-blue: #0282F9;
  --dc-dark: #1C1C1C;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  background: #fff;
}



.dc-logo {
  width: 60px;
  height: 60px;
  object-fit: contain;
}


.nav-link {
  padding: 1.5rem 0;
  border-bottom: 4px solid transparent;
  color: #1b1b1b !important;
  transition: all .2s ease;
}

.nav-link:hover {
  color: var(--dc-blue) !important;
  border-bottom-color: var(--dc-blue);
  cursor: pointer;
}

.main-wrap {
  background: var(--dc-dark);
  color: #fff;
  position: relative;
}


.jumbotron {
  height: 400px;
  background-image: url("./assets/img/jumbotron.jpg");
  background-size: cover;
  background-position: top center;
}


.current-series-badge {
  position: absolute;
  top: 380px;
  left: 10%;
  transform: translateX(-50%);
  background-color: var(--dc-blue);
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  padding: 10px 25px;
  font-size: 1.1rem;
  z-index: 2;
}


.comics-wrap {
  max-width: 1200px;
  padding-top: 80px;
  padding-bottom: 50px;
}


.comic-thumb {
  aspect-ratio: 1 / 1;
  background: #000;
  overflow: hidden;
  border-radius: 0;
}

.comic-thumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  display: block;
}


.comic-title {
  text-transform: uppercase;
  margin-top: 8px;
  margin-bottom: 0;
  font-size: 0.75rem;
  min-height: 32px;
  color: #fff;
}

.blue-bar {
  background-color: var(--dc-blue);
  color: #fff;
}

.blue-bar .bb-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
}

.blue-bar .bb-icon {
  height: 50px;
  width: auto;
  object-fit: contain;
}