@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

:root {
  --dc-blue: #0282F9;
  --dc-dark: #1C1C1C;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  background: #fff;
}



.dc-logo {
  width: 60px;
  height: 60px;
  object-fit: contain;
}


.nav-link {
  padding: 1.5rem 0;
  border-bottom: 4px solid transparent;
  color: #1b1b1b !important;
  transition: all .2s ease;
}

.nav-link:hover {
  color: var(--dc-blue) !important;
  border-bottom-color: var(--dc-blue);
  cursor: pointer;
}